.content-area,
.container-add {
  margin: 0 0 0 10%;
  max-width: 1240px;
  width: 90%;
}

.header-container {
  display: flex;
}

.site-branding {
  flex: 5;
}

.main-navigation {
  flex: 5;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.floating-website {
  box-shadow: 20px 35px 122px rgba(0,0,0,0.3);
  margin:32px auto;
  padding:32px;
  width:90%;
}
