.site-description {
  display: none;
}

p.site-title {
  margin: 0;
}

.site-branding {
  font-size: $size-s;
}

.main-navigation li {
  margin: 0 $size-s;
}

.lead-summary {
  font-size: 48px;
  width: 65%;
  font-style: italic;
  font-weight: 100;
  margin: 36px 0;
}