html {
	box-sizing: border-box;
	height:100%;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	height:100%;
}
body:before {
	content:'';
	background-color:$color__primary;
	opacity:0.1;
	height:55vh;
	width:75vw;
	position: fixed;
	bottom:0;
	left:0;
	z-index: -3;
}
body:after {
	content:'';
	background-color:$color__secondary;
	opacity: 0.1;
	height:55vh;
	width:75vw;
	position: absolute;
	top:0;
	right:0;
	z-index: -2;
}
hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

h1,h2,h3,h4,h5 {
	font-family:$font__headings;
	text-rendering: optimizeLegibility;
}
h1 a,h2 a,h3 a, a.clean {
	border-bottom: none;
	padding-bottom:0;
} 
.heading_small-caps {
  font-size:0.7em;
  text-transform: uppercase;
  font-weight:900;
	color:$color__text-main-lighter;
	font-family: $font__main;
	text-rendering: optimizeLegibility;
}